*{ 
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}
.header{
    min-height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(46, 48, 54, 0.3),rgba(36, 37, 41, 0.836)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.head img {
    position:relative;
    margin-left: 20%;
    margin-right: 50%;
    width: 60%;
    height: auto;
    border-radius: 20px;
}

.logo {
    font-size: 4em;
    position: absolute;
    padding: 10px 10px;
}

/*----------- LINKS -------*/

nav img{
    height: 110px;
    width: 110px;
}

.about p {
    padding: 2% 15%;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding-right: 20px;
}
.nav-links a{
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border:none;
    background-color: none;
    background: none;
    color:rgb(158, 158, 158);
    font-size: larger;
    font-weight: 800;
    text-decoration: none;
}
nav a{
        color:rgb(49, 49, 49);
        font-size: larger;
        font-weight: 800;
        text-decoration: none;}   
nav a:visited{
        color: rgb(168, 168, 168);
        background-color: transparent;
        text-decoration: none;
}

nav a:active{
        color: rgb(70, 70, 70);
        background-color: transparent;
        text-decoration: none;
}
.nav-links a::after {
    content:'';
    width: 0%;
    height: 2px;
    text-shadow: none;
    background: #9aa39b; 
    display:block;
    margin: auto;
    transition:.5s;
}
.nav-links a:hover::after {
    width:100%;
}
.nav-links a:hover {
    text-shadow: .5px .5px 1px #727272;
    transition: .3s;
}
/*-----------DROPDOWNS------------*/

.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    left: 80%;
    color: #ffffff;
    top: calc(100 + .25rem);
    background-color: #00000059;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .25rem;
}
.dropdown-links {
    padding: .25rem;
    display:flex;
    flex-direction: column;
    gap: .5rem;
}
/*----------- TITLE -------*/

.text-box{
    width:90%;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 110px;
    text-shadow: 2px 2px 5px #ffffff;
}
.text-box p{
    font-size: 25px;
    font-weight: 600;
    color: #869695;
}

/*----------- FLOURISH -------*/

.flourish{
    margin-top: 500px;
    height: 140px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

/*----------- PROJECTS -------*/

.about{
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.about h1{
    font-size: 60px;
    color:rgb(202, 206, 205); 
    margin-right: 30%;
}
.about-box {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.about p{
    margin-top: 80px;
    width: 60%;
    color:#000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
    border-bottom: 2px solid rgb(143, 143, 143);
    height: 200px;
}
img {
    border-radius: 10px;
}
.row{
    display: flex;
}
.album-col{
    flex-basis:32%;
    background:rgba(153, 153, 153, 0.61);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12 px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
/*    margin-left: 100px;
    margin-right: 100px;*/
}
.album-col img{
    background-position: center;
    background-size: cover;
    position: relative;
    width:420px;
    height:auto; 
    overflow: hidden; 
    margin-top: 30px;
    border-radius: 5px;
}
.album-col p{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 5px;
}
.album-col:hover{
    box-shadow: 0 0 20px rgba(206, 215, 255, 0.836);
    transition: .2s;
    background-color: #646464d5;
    cursor: pointer;
}

/*----------- ABOUT ME -------*/

.events h1{
    width: auto;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.events p{
    text-align: center;
}
.memories-col{
    flex-basis:31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.memories-col iframe{
    width: 100%;
    height: 175%;
    border-radius: 25px;
    margin-left: 110%;
}
.memories-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----------- VIDEO -------*/

.notes{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.notes-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #3e795660;
    padding: 25px;
    cursor:pointer;
    display: flex;
}
.notes-col img{
    height:40px;
    margin-left: 5px;
    margin-right: 20px;
    border-radius: 50%; 
}
.notes-col p{
    padding: 0;
}
.notes-col h3{
    margin-top: 15px;
    text-align: left;
}

/* -------------CONTACT---------------*/

.cta{
    text-align: center;
    padding: 100px 50px 0px;  
    color: #3a3a3a;
}
.cta a{
    color: #464646;
}
.cta a:hover{
    color:#ffffff  
}

/*----------------FOOTER------------*/

.footer{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:75px 0;  
    color: #ffffff;
    width:100%;
    height: 5em;
    color: #b8b8b8;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}

.footer p{
    color: white;
    margin-top: 30px;
}
